header {
  margin: 1%;
}
aside {
  float: right;
  width: 20%;
  margin: 5%;
}
section {
  margin: 3%;
}
footer {
  text-align: center;
  margin: 2%;
}
.blog-header {
  margin-top: 5%;
  margin-bottom: 10%;
}
#blog-logo {
  height: 7%;
  width: 5%;
}
.nav-item {
  display: inline;
  padding-left: 5%;
  padding-right: 5%;
  /* border: solid 1px black; */
  margin-top: 50px;
}
.banner-text {
  padding-left: 3%;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10%;
}
#banner-image {
  height: 25%;
  width: 25%;
}
